<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>Signup page</title>
</head>

<body>
    <div id="content">

        <h1>Walcome to Signup page </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ducimus doloremque consectetur excepturi
            hic vero. Laborum maiores voluptates dolore dolores dicta ipsam, accusamus ratione ea amet rerum,
            voluptatibus enim aspernatur?</p>

    </div>
</body>
<script>
    console.log("signup page")
</script>

</html>