<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">

<head>
    <title>Services page</title>
</head>

<body>

    <section id="content">
        <h1>Walcome to Services</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores repudiandae ab enim ea voluptatibus
            doloremque officia, labore a, architecto inventore nulla ex doloribus, voluptas veritatis laudantium! Est
            numquam ab quam?</p>

    </section>

</body>
<script>
    console.log("service log page")
</script>

</html>